* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f0f0f0;
}

.fullWidth {
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  margin-bottom: 150px;
}

.box {
  width: 420px;
  height: auto;
  margin: auto;
  padding: 40px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  background-color: #fff;
  margin-bottom: 200px;
}

.logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo img {
  width: 65%;
}

.walcomeMessage {
  text-align: center;
}

.walcomeMessage h4 {
  font-size: 20px;
  color: #0e1724;
  padding-bottom: 30px;
}

.LogWithFacebook {
  background: #4267b2;
  width: 100%;
  height: 40px;
  border: #3b5c9f;
  text-align: center;
  color: #fff;
  padding: 7px;
}

.LogWithFacebook .fab {
  font-size: 20px;
  padding-right: 5px;
}

.LogWithFacebook h4 {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

.or p {
  text-align: center;
  padding: 20px 0px 20px 0px;
  position: relative;
}

.or p:after {
  content: " ";
  display: block;
  width: 45%;
  height: 2px;
  background: #cacacad1;
  position: absolute;
  left: 0;
  top: 46%;
}

.or p:before {
  content: " ";
  display: block;
  width: 45%;
  height: 2px;
  background: #cacacad1;
  position: absolute;
  top: 46%;
  right: 0;
}

.twoInput input {
  width: 100%;
  height: auto;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #bec0c2;
  outline: none;
}

.twoInput input:hover {
  transition: 0.3s;
  border: 1px solid #007fed;
}

input#userpasswrod {
  position: relative;
}

span.iconEye {
  position: absolute;
  cursor: pointer;
  padding-top: 12px;
  margin-left: -35px;
}

.rememberMe input {
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 8px;
}

span.forgotPassword a {
  text-align: right;
  cursor: pointer;
  color: #007fed;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.rememberMe p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding-right: 86px;
}

span.forgotPassword a:hover {
  transition: 0.2s;
  text-decoration: underline;
}

span.forgotPassword a {
  text-align: right;
  cursor: pointer;
  color: #007fed;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.rememberMe p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding-right: 86px;
}

span.forgotPassword a:hover {
  transition: 0.2s;
  text-decoration: underline;
}

.rememberMe input:hover {
  transition: 0.2s;
  border: rgb(0, 127, 237);
  cursor: pointer;
}

.logInButton button {
  background: #007fed;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  padding: 12px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
}

.logInButton button:hover {
  transition: 0.2s;
  background: #2b9bfd;
  cursor: pointer;
}

span.borderHR {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(202, 202, 202, 0.82);
  top: 100px;
}

.logInButton {
  position: relative;
}

.dontHaveAccound {
  padding-top: 40px;
  text-align: center;
}

.dontHaveAccound p {
  font-size: 14px;
  font-weight: 300;
}

span.singUP a {
  font-size: 14px;
  font-weight: 400;
  color: #007fed;
  text-decoration: none;
}

span.singUP a:hover {
  transition: 0.2s;
  text-decoration: underline;
  color: #007fed;
}

.apple_android {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}

.apple_android img {
  width: 50%;
  float: left;
}

#eyeOpen {
  display: none;
}

label {
  position: absolute;
  width: 55px;
  height: 25px;
  border: 2px solid #838383;
  border-radius: 30px;
  right: 20px;
  top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

label:before {
  content: " ";
  background: #000;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  left: -2px;
  top: -2px;
  cursor: pointer;
  transition: all 0.3s;
}

label.active:before {
  background: #fff;
  left: 28px;
  transition: all 0.3s;
}

body.night {
  background: #050505;
  transition: all 0.3s;
}

/* passShow Hide */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f0f0f0;
}

.fullWidth {
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  margin-bottom: 150px;
}

.box {
  width: 420px;
  height: auto;
  margin: auto;
  padding: 40px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  background-color: #fff;
  margin-bottom: 200px;
}

.logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo img {
  width: 65%;
}

.walcomeMessage {
  text-align: center;
}

.walcomeMessage h4 {
  font-size: 20px;
  color: #0e1724;
  padding-bottom: 30px;
}

.LogWithFacebook {
  background: #4267b2;
  width: 100%;
  height: 40px;
  border: #3b5c9f;
  text-align: center;
  color: #fff;
  padding: 7px;
}

.LogWithFacebook .fab {
  font-size: 20px;
  padding-right: 5px;
}

.LogWithFacebook h4 {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

.or p {
  text-align: center;
  padding: 20px 0px 20px 0px;
  position: relative;
}

.or p:after {
  content: " ";
  display: block;
  width: 45%;
  height: 2px;
  background: #cacacad1;
  position: absolute;
  left: 0;
  top: 46%;
}

.or p:before {
  content: " ";
  display: block;
  width: 45%;
  height: 2px;
  background: #cacacad1;
  position: absolute;
  top: 46%;
  right: 0;
}

.twoInput input {
  width: 100%;
  height: auto;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #bec0c2;
  outline: none;
}

.twoInput input:hover {
  transition: 0.3s;
  border: 1px solid #007fed;
}

input#userpasswrod {
  position: relative;
}

span.iconEye {
  position: absolute;
  cursor: pointer;
  padding-top: 12px;
  margin-left: -35px;
}

i#hide {
  position: absolute;
  top: 12px;
  left: 0;
}

.rememberMe input {
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 8px;
}

span.forgotPassword a {
  text-align: right;
  cursor: pointer;
  color: #007fed;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.rememberMe p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding-right: 86px;
}

span.forgotPassword a:hover {
  transition: 0.2s;
  text-decoration: underline;
}

span.forgotPassword a {
  text-align: right;
  cursor: pointer;
  color: #007fed;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.rememberMe p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding-right: 86px;
}

span.forgotPassword a:hover {
  transition: 0.2s;
  text-decoration: underline;
}

.rememberMe input:hover {
  transition: 0.2s;
  border: rgb(0, 127, 237);
  cursor: pointer;
}

.logInButton button {
  background: #007fed;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  padding: 12px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
}

.logInButton button:hover {
  transition: 0.2s;
  background: #2b9bfd;
  cursor: pointer;
}

span.borderHR {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(202, 202, 202, 0.82);
  top: 100px;
}

.logInButton {
  position: relative;
}

.dontHaveAccound {
  padding-top: 40px;
  text-align: center;
}

.dontHaveAccound p {
  font-size: 14px;
  font-weight: 300;
}

span.singUP a {
  font-size: 14px;
  font-weight: 400;
  color: #007fed;
  text-decoration: none;
}

span.singUP a:hover {
  transition: 0.2s;
  text-decoration: underline;
  color: #007fed;
}

.apple_android {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}

.apple_android img {
  width: 50%;
  float: left;
  cursor: pointer;
}

#eyeOpen {
  display: none;
}

label {
  position: absolute;
  width: 55px;
  height: 25px;
  border: 2px solid #838383;
  border-radius: 30px;
  right: 20px;
  top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

label:before {
  content: " ";
  background: #000;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  left: -2px;
  top: -2px;
  cursor: pointer;
  transition: all 0.3s;
}

label.active:before {
  background: #fff;
  left: 28px;
  transition: all 0.3s;
}

body.night {
  background: #050505;
  transition: all 0.3s;
}

/* passShow Hide */
